<div class="ThemSinhVien container">
  <div class="row TheSinhVien" style="display: flex">
    <div
      class="col-lg-6 card"
      style="
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-right: 35px;
      "
    >
      <p
        style="
          background-color: #56a4fe;
          color: white;
          padding: 20px;
          font-size: 23px;
          font-weight: 700;
          border-radius: 10px;
        "
      >
        Vui lòng điền thông tin
      </p>
      <!-- <pre>
          {{ formSuaLop.value | json }}
        </pre
      > -->
      <form [formGroup]="formSuaLop">
        <div>
          <label for="name">Tên lớp </label><br />
          <input type="text" pInputText formControlName="name" required /><br />
          <small *ngIf="!formSuaLop.get('name').valid"
            >Tên nên liên hệ tới khoa</small
          ><br />

          <small
            style="color: red"
            *ngIf="
              !formSuaLop.get('name').valid && formSuaLop.get('name').touched
            "
            >Vui lòng nhập tên lớp
          </small>
        </div>
        <hr />

        <!-- Nhớ đổi optionLable -->
        <div class="row flex">
          <div class="col-lg-6">
            <p>Chọn khoa</p>
            <p-dropdown
              formControlName="khoa"
              [options]="listkhoa"
              optionLabel="tenKhoa"
            ></p-dropdown>
          </div>
          <div class="col-lg-6"></div>
        </div>

        <hr />

        <hr />

        &nbsp;
        <button
          [routerLink]="['/app/about']"
          (click)="add()"
          style="background-color: #3b82f6"
        >
          Thêm mới
        </button>
      </form>
    </div>
    <div class="col-lg-5" style="height: fit-content; padding: 20px"></div>
  </div>
</div>
