<div class="trangchu">
  <p>Website quản lý sinh viên</p>

  <div class="header">
    <!-- navigation header -->
    <p-tabView styleClass="nav-header tabview-custom"
      ><p-tabPanel header="Header I">
        <ng-template pTemplate="header">
          <i class="pi pi-user"></i>
          <span>Sinh viên</span>
        </ng-template>
        <app-quanly></app-quanly>
      </p-tabPanel>

      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
          <i class="pi pi-book"></i>
          <span>Điểm</span>
        </ng-template>

        <app-quanlydiem></app-quanlydiem>
      </p-tabPanel>
      <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
          <i class="pi pi-box"></i>
          <span>Khoa</span>
        </ng-template>
        <app-quanlylop></app-quanlylop>
      </p-tabPanel>
    </p-tabView>
    <!--End navigation header -->
  </div>
</div>
