<div class="ThemSinhVien container">
  <div class="row TheSinhVien" style="display: flex">
    <div
      class="col-lg-6 card"
      style="
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-right: 35px;
      "
    >
      <p
        style="
          background-color: #56a4fe;
          color: white;
          padding: 20px;
          font-size: 23px;
          font-weight: 700;
          border-radius: 10px;
        "
      >
        Vui lòng điền đủ điểm
      </p>
      <!-- <pre>
          {{ formSuaDiem.value | json }}
        </pre
      > -->
      <form [formGroup]="formSuaDiem">
        <div class="row">
          <div class="col-lg-6">
            <div>
              <label for="diemquatrinh">Điểm quá trình </label><br />
              <input
                type="number"
                pInputText
                formControlName="diemquatrinh"
                required
              /><br />
              <small *ngIf="!formSuaDiem.get('diemquatrinh').valid"
                >Dựa trên điểm chuyên cần và kiểm tra</small
              ><br />

              <small
                style="color: red"
                *ngIf="
                  !formSuaDiem.get('diemquatrinh').valid &&
                  formSuaDiem.get('diemquatrinh').touched
                "
                >Vui lòng nhập điểm quá trình
              </small>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <label for="diemcuoiky">Điểm cuối kì </label><br />
              <input
                type="number"
                pInputText
                formControlName="diemcuoiky"
                required
              /><br />
              <small *ngIf="!formSuaDiem.get('diemcuoiky').valid"
                >Điểm dựa trên thi cuối kì và điểm thành phần</small
              ><br />

              <small
                style="color: red"
                *ngIf="
                  !formSuaDiem.get('diemcuoiky').valid &&
                  formSuaDiem.get('diemcuoiky').touched
                "
                >Vui lòng nhập điểm cuối kì
              </small>
            </div>
          </div>
        </div>

        <hr />
        <!-- [disabled]="!formSuaDiem.valid" -->
        <button
          [routerLink]="['/app/about']"
          (click)="update()"
          style="background-color: #f59e0b"
        >
          Cập nhật
        </button>
      </form>
    </div>
    <div class="col-lg-5 card" style="height: fit-content; padding: 20px">
      <div>
        Sinh viên : {{ diemselected?.name }} &nbsp;Mã sinh viên :{{
          diemselected?.studentId
        }}
      </div>
      <div>Môn : {{ diemselected?.tenMonHoc }}</div>
      <div>Tên giảng viên : {{ diemselected?.tenGiaoVien }}</div>
      <br />
      <div>Điểm quá trình : {{ diemselected?.diemQuaTrinh }}</div>

      <div>Điểm cuối kì : {{ diemselected?.diemCuoiKy }}</div>
      <div>Điểm tổng kết : {{ diemselected?.diemTongKet }}</div>
      <br />
      <div>
        Học kì : {{ diemselected?.hoc_ky }} &nbsp;Năm học :
        {{ diemselected?.nam_hoc }}
      </div>
      <br />

      <button
        [routerLink]="['/app/about']"
        (click)="delete()"
        style="background-color: #ef4444"
      >
        <i class="pi pi-trash"></i>&nbsp;Xóa
      </button>

      <br />
    </div>
  </div>
</div>
